[submodule "lib/cherry"]
	path = lib/cherry
	url = https://github.com/infiniteHQ/Cherry
[submodule "lib/restcpp"]
	path = lib/restcpp
	url = https://github.com/infiniteHQ/RestCpp
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "lib/installer"]
	path = lib/installer
	url = https://github.com/infiniteHQ/VortexInstaller
[submodule "ui/launcher/assets/resources/templates/blank_project"]
	path = ui/launcher/assets/resources/templates/blank_project
	url = https://github.com/infiniteHQ/VortexBlankProject.git
[submodule "lib/httpcl"]
	path = lib/httpcl
	url = https://github.com/infiniteHQ/httpcl.git
