[Desktop Entry]
Name=Vortex Launcher
Exec=/opt/VortexLauncher/bin/vortex_launcher
Icon=/opt/VortexLauncher/bin/resources/imgs/icon.png
Terminal=false
Type=Application
Categories=Utility;Development;
